<html>

  <head>
    <title> Formulario </title>
  </head>

  <body>
    <form method="POST" action="agregar">
      Id <input type="text" name="txtId" value=""></br>
      Apellido <input type="text" name="txtApellido" value=""></br>
      Nombre <input type="text" name="txtNombre" value=""></br>
      Ciudad <input type="text" name="txtCiudad" value=""></br>  
      Correo <input type="text" name="txtCorreo" value=""></br>
      <input type="submit" value="Ingresar">
    </form>
  </body>

</html>
